<div b-wzwicsxrru class="container">
    <main b-wzwicsxrru role="main" class="pb-3">
        <div class="row" style="min-height: 80vh; display:flex; align-items: center;">
            <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
                <form method="post" action="/home/upload" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="file" class="form-control" name="image">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="password" placeholder="Custom Password">
                    </div>
                    <button class="btn btn-primary w-100">Upload</button>
                </form>
            </div>
        </div>

    </main>
</div>
