@using _3_11_Hw.Data;
@model ImageViewModels;
<div b-wzwicsxrru class="container">
    <main b-wzwicsxrru role="main" class="pb-3">

        <div class="row">
            <div class="col-md-8 offset-md-2 bg-light p-4 rounded shadow">
                <h3>
                    Thank you for uploading your images,
                    here's the link to share with your friends:
                    <br /><br />
                    <a href="https://localhost:7201/home/viewimage?id= @Model.Image.Id">
                        https://localhost:7201/home/viewimage?id= @Model.Image.Id

                    </a>
                    <br /><br />

                    Make sure to give them the password of @Model.Image.Password
                </h3>
            </div>
        </div>
    </main>
</div>
